<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>portfolio</title>
  </head>
  <body>

    <%# ヘッダー %>
    <header class="header">
      <div class="area_logo_header">
        <%= link_to image_tag("portfolio_logo.png", class: :logo), root_path %>
      </div>
      <div class="header_menu">
        <%= link_to "About", root_path, class: :nav_btn %>
        <%= link_to "Works", root_path, class: :nav_btn %>
        <%= link_to "Skill", root_path, class: :nav_btn %>
      </div>
    </header>

    <%# メイン %>
    <main>
      <%# About %>
      <div class="about_area">
        <div class="area_title">
          About
        </div>
        <div class="content">
          <div class="about_image_area">
            <%= link_to image_tag("face.png", class: :face_image), root_path %>
          </div>
          <div class="about_description">
            はじめまして！前川達也と申します。<br>高校生2年生の頃に、エンジニアになることを決意し、現在プログラミング学習中です。<br>具体的には毎日12時間ほどの学習を、3ヶ月間ほど継続しております。<br>将来の目標は「ユーザー目線でニーズを考え、多くのニーズを叶えられるエンジニア」<br>になる事です！
          </div>
        </div>
        <div class="read_more_btn">
          <%= link_to "READ MORE", root_path, class: :read_more_message %> 
        </div>
      </div>

      <%# 隙間 %>
      <div class="content_gap"></div>

      <%# Works %>
      <div class="works_area">
        <div class="area_title">
          Works
        </div>

        <%# プログラミング学習アプリ %>
        <div class="content">
          <div class="works_image_area">
            <%= image_tag("https://i.gyazo.com/0a7815f70b655dffefd74d23e9537325.gif", class: :works_image1) %>
          </div>
          <div class="about_description">
            <p class="description_title1">プログラミング学習アプリ</p>
            <p>ー概要ー<br>プログラミング学習初心者の学習を、サポートする為に開発したアプリ。</p>
            <p>ー機能ー<br>ブログ機能、振り返りフォーム機能、カレンダー機能、非同期コメント機能</p>
            <p>ー言語ー<br>HTML5/CSS3/Javascript/Ruby(Ruby on rails)</p>
            <p>ーその他ー<br>Heroku/Git Hub/Ajax/ransack/active hash</p>
          </div>
        </div>
        <div class="read_more_btn">
          <%= link_to "READ MORE", root_path, class: :read_more_message1 %> 
        </div>

        <%# works同士の隙間 %>
        <div class="works_gap"></div>

        <%# 本の紹介アプリ %>
        <div class="content">
          <div class="about_description">
            <p class="description_title2">本紹介アプリ</p>
            <p>ー概要ー<br>読書好きの人が、気軽にコミュニケーションを取れるアプリ。</p>
            <p>ー機能ー<br>シェア機能、メモ機能、非同期コメント機能</p>
            <p>ー言語ー<br>HTML5/CSS3/Javascript/Ruby(Ruby on rails)</p>
            <p>ーその他ー<br>Heroku/Git Hub/Ajax/ransack/active hash</p>
          </div>
          <div class="works_image_area">
            <%= image_tag("https://i.gyazo.com/bbdb3131a44d8b8b7387f8e067b498b3.gif", class: :works_image2) %>
          </div>
        </div>
        <div class="read_more_btn">
          <%= link_to "READ MORE", root_path, class: :read_more_message2 %> 
        </div>

        <%# works同士の隙間 %>
        <div class="works_gap"></div>
        
        <%# スポーツアプリ %>
        <div class="content">
          <div class="works_image_area">
            <%= image_tag("https://i.gyazo.com/29866ccbadac47d4bd3b890d8f81f66b.gif", class: :works_image1) %>
          </div>
          <div class="about_description">
            <p class="description_title3">スポーツチーム紹介アプリ</p>
            <p>ー概要ー<br>個人が自分に合ったスポーツチームを見つける為のアプリ。</p>
            <p>ー機能ー<br>ツイート機能、DM機能、つながり機能、非同期コメント機能</p>
            <p>ー言語ー<br>HTML5/CSS3/Javascript/Ruby(Ruby on rails)</p>
            <p>ーその他ー<br>Heroku/Git Hub/Ajax/ransack/active hash</p>
          </div>
        </div>
        <div class="read_more_btn">
          <%= link_to "READ MORE", root_path, class: :read_more_message3 %> 
        </div>

        <%# works同士の隙間 %>
        <div class="works_gap"></div>

      </div>
    </main>
  </body>
</html>