<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー %>
    <header class="header">
      <div class="area_logo_header">
        <%= link_to image_tag("portfolio_logo.png", class: :logo), root_path %>
      </div>
      <div class="header_menu">
        <a href="#scroll1" class="nav_btn">About</a>
        <a href="#scroll2" class="nav_btn">Works</a>
        <a href="#scroll3" class="nav_btn">Skill</a>
        <a href="#scroll4" class="nav_btn">Contact</a>
      </div>
    </header>

    <%# メイン %>
    <%= yield %>

    <%# フッター %>
    <footer>
      <div class="footer_area">
        <div class="top_btn" id="btn">トップへ</div>
        <p class="copyright">Copyright © portfolio All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
